@charset "utf-8";
/*******************************************************************************/
#gamePreg{
    background: url(../images/fondo1.png) no-repeat 50% 50%;
}
.btn{
    position: absolute;
    cursor: pointer;
}
/*******************************************************************************/
.tPreg{
    position: absolute;
    width: 830px; height: 200px;
    left: 260px; top: 270px;
    font-family: "Catalogo";
    font-size: 40px; line-height: 200px;
    color: #ffffff;
    text-align: center;
    background: #ff3350;
    box-shadow: 20px 20px 0px 0px rgba(0,0,0,0.3);
}
.tPreg.toTop{
    transition: all 500ms;
    width: 590px; height: 85px;
    left: 380px; top: 166px;
    font-size: 19px; line-height: 85px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
}
.tPreg span{
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    line-height: 40px;
}
.tPreg.toTop span{ line-height: 20px; }

.ciPreg{
    position: absolute;
    width: 412px; height: 412px;
    left: 469px; top: 266px;
    background: #e2ab2e;
    border-radius: 50%;
}
.imgPreg{
    position: absolute;
    width: 264px; height: 264px;
    left: 74px; top: 74px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 27px #ff3350;
}
.ciPreg.anim .imgPreg{ transition: all 2s linear; }
.ciPreg.a10 .imgPreg{ box-shadow: 0px 0px 40px 40px #ff3350; }
.ciPreg.a8 .imgPreg{ box-shadow: 0px 0px 100px 100px #ff3350; }
.ciPreg.a6 .imgPreg{ box-shadow: 0px 0px 180px 180px #ff3350; }
.ciPreg.a4 .imgPreg{ box-shadow: 0px 0px 280px 280px #ff3350; }
.ciPreg.a2 .imgPreg{ box-shadow: 0px 0px 400px 400px #ff3350; }

#i4_video{
    position:absolute;
    width: 800px; height: 450px;
    left:275px; top:50px;
}

/* .g-oficina #imgPreg_1{ background-image: url(../images/r-oficina/q1.png); }
.g-oficina #imgPreg_2{ background-image: url(../images/r-oficina/q2.png); }
.g-oficina #imgPreg_3{ background-image: url(../images/r-oficina/q3.png); }
.g-oficina #imgPreg_4{ background-image: url(../images/r-oficina/q4.png); }
.g-oficina #imgPreg_5{ background-image: url(../images/r-oficina/q5.png); }
.g-oficina #imgPreg_6{ background-image: url(../images/r-oficina/q6.png); }
.g-planta #imgPreg_1{ background-image: url(../images/r-planta/q1.png); }
.g-planta #imgPreg_2{ background-image: url(../images/r-planta/q2.png); }
.g-planta #imgPreg_3{ background-image: url(../images/r-planta/q3.png); }
.g-planta #imgPreg_4{ background-image: url(../images/r-planta/q4.png); }
.g-planta #imgPreg_5{ background-image: url(../images/r-planta/q5.png); }
.g-planta #imgPreg_6{ background-image: url(../images/r-planta/q6.png); }
.g-restaurante #imgPreg_1{ background-image: url(../images/r-restaurante/q1.png); }
.g-restaurante #imgPreg_2{ background-image: url(../images/r-restaurante/q2.png); }
.g-restaurante #imgPreg_3{ background-image: url(../images/r-restaurante/q3.png); }
.g-restaurante #imgPreg_4{ background-image: url(../images/r-restaurante/q4.png); }
.g-restaurante #imgPreg_5{ background-image: url(../images/r-restaurante/q5.png); }
.g-restaurante #imgPreg_6{ background-image: url(../images/r-restaurante/q6.png); } */

.btnPlay{
    position: absolute;
    width: 90px; height: 124px;
    left: 630px; top: 535px;
    background: rgba(0,0,0,0) url(../images/btnPlay.png) no-repeat 50% 50%;
    opacity: 1;
    cursor: pointer;
}
.btnPlay.disable{
    pointer-events: none;
    transition: opacity 500ms;
    opacity: 0;
}

.btn{
    position: absolute;
    width: 310px; height: 80px;
    font-family: "Catalogo";
    font-size: 18px; line-height: 70px;
    color: #ffffff;
    text-align: center;
    background: #0d8ba0;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
}
.btn.show{
    pointer-events: auto;
    transition: opacity 1000ms, left 600ms, top 600ms;
    opacity: 1;
}
#btn_1_1,#btn_2_1,
#btn_3_1,#btn_4_1,
#btn_7_1,#btn_8_1,
#btn_9_1,#btn_10_1,
#btn_5_1,#btn_6_1{ left: 240px; top: 325px; }

#btn_1_2,#btn_2_2,
#btn_3_2,#btn_4_2,
#btn_7_2,#btn_8_2,
#btn_9_2,#btn_10_2,
#btn_5_2,#btn_6_2{ left: 800px; top: 325px; }

#btn_1_3,#btn_2_3,
#btn_3_3,#btn_4_3,
#btn_7_3,#btn_8_3,
#btn_9_3,#btn_10_3,
#btn_5_3,#btn_6_3{ left: 800px; top: 525px; }

#btn_1_4,#btn_2_4,
#btn_3_4,#btn_4_4,
#btn_7_4,#btn_8_4,
#btn_9_4,#btn_10_4,
#btn_5_4,#btn_6_4{ left: 240px; top: 525px; }

.btn span{
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    line-height: 18px;
}
/*******************************************************************************/